<main class="flex border-2 border-secondaryColor rounded-lg my-20 mx-40 shadow-xl h-[550px]">
  <section class="w-full flex">
    <div class="w-5/12 flex flex-col">
      <%= image_tag('typing.jpg', class: ' h-full w-full object-cover rounded-l-lg') %>
    </div>

    <div class="w-7/12 flex flex-col items-center justify-center">
      <%= render 'form' %>
    </div>
  </section>
</main>
