<div id="<%= dom_id project %>" class="flex flex-col w-full gap-3 py-5">
  <div class="flex items-center w-full justify-between">
    <div class="flex flex-col justify-center text-white">
      <strong class="block font-medium">Title:</strong>
      <%= project.title %>
    </div>

    <div class="flex items-center justify-end">
      <%= link_to "See project", project, class: "text-sm font-semibold text-white rounded-lg py-2 px-4 bg-secondaryColor" %>
    </div>
  </div>

  <div class="flex flex-col justify-center text-white">
    <strong class="block font-medium">Description:</strong>
    <%= project.description[0...300]... %>
  </div>
</div>
<hr class="mt-6">
