<main class="h-[700px] flex w-full">
  <section class="flex flex-col overflow-y-auto w-9/12 p-5">
    <h2 class="w-full text-2xl text-white font-bold">Your projects</h2>
    <% current_user.projects.all.order(:created_at).each do |project| %>
      <%= render 'projects/project', project: project %>
    <% end %>
  </section>
  <section class="flex flex-col overflow-y-auto w-3/12 p-5 gap-5">
    <h2 class="w-full text-2xl text-white font-bold">All users</h2>
    <div class="flex flex-col gap-5">
      <% User.all.order(:created_at).each do |user| %>
        <% next if user.profile.nil? %>

        <%= render 'users/user', user: user %>
      <% end %>
    </div>
  </section>
</main>
