<main>
  <section class="flex flex-col overflow-y-auto w-9/12 p-5 gap-5">
    <h2 class="w-full text-2xl text-white font-bold">
      <%= @project.title %>
    </h2>
    <hr>
    <p class="text-white font-semibold">
      <%= @project.description %>
    </p>
    <div class="flex items-center justify-end gap-2">
      <%= link_to 'Edit', edit_project_path(@project), class: "text-sm font-semibold text-white rounded-lg py-2 px-4 bg-loginBtn" %>
      <%= button_to project_path(@project), method: :delete do %>
        <span class="text-sm font-semibold text-white rounded-lg py-2 px-4 bg-redBtn">
          Delete
        </span>
      <% end %>
    </div>
  </section>
</main>
